<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navbar', { active }) %>
    <h1><%= title %></h1>
    <p>Name: <%= item.name %></p>
    <a href="<%= `/coffee/${item.id}/edit` %>">Edit</a>
    <a href="<%= `/coffee/${item.id}/delete` %>">Delete</a>
  </body>
</html>
