<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Name: <%= item.name %></p>
    <% if (path == 'coffee') { %> <%- include('./partials/coffee-detail', {
    coffee: item }) %> <% } %>
    <a href="<%= `/${path}/${item.id}/edit` %>">Edit</a>
    <form
      action="<%= `/${path}/${item.id}/delete` %>"
      method="post"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
