<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= path %></title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="flex justify-center">
      <div
        class="mt-[15vh] grid grid-cols-1 p-8 gap-6 min-w-xs bg-amber-50 shadow-lg rounded-md"
      >
        <div class="grid grid-cols-2 gap-8 items-center justify-items-stretch">
          <h1 class="text-lg font-bold text-stone-700 capitalize">
            <%= path %>
          </h1>
          <div class="justify-self-end">
            <a href="<%= `${path}/create` %>" class="btn btn-primary">New</a>
          </div>
        </div>
        <ul role="list">
          <% for (let item of rows) { %>
          <li>
            <a
              href="<%=`/${path}/${item.id}`%>"
              class="block py-4 border-b-2 border-b-orange-200 hover:text-yellow-900 hover:font-bold hover:underline hover:decoration-yellow-900 hover:decoration-2"
              ><%= item.name %></a
            >
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
