<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create <%= path %></title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/coffee.svg" type="image/x-icon">
</head>
<body>
    <div class="flex justify-center">
        <form class="bg-amber-50 shadow-lg rounded-md p-6 md:min-w-md flex flex-col gap-3 bg-pattern relative" action=<%= (data.id) ? `/${path}/${data.id}/edit` :  `/${path}/create` %> method="POST">
            <div class="mt-8">
                <label for="name" class="label">Name</label>
                <input class="form-field mt-2" type="text" id="name" name="name" required value="<%= data?.name %>"/>
                <% if (locals.error) { %>
                    <p class="text-red-700 flex gap-2 items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stoke-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                      </svg>
                      <%= error %></p>
                    <% } %>
            </div>
            <div class="mt-4 flex gap-2 justify-end">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href=<%= "/" + path %> class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>